/* style.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#bongoCatPanel {
    text-align: center;
}

#bongoCatImage {
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
}
